.main {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentMain {
  width: 95vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.contentSocial {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: rgb(255, 255, 255);
}
.contentSocial h1 {
  color: rgb(0, 0, 0);
}
.contentSocial p {
  line-height: 25px;
  color: rgb(0, 0, 0);
}
.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contentIcon {
  display: flex;
  gap: 20px;
}
.btnIcon:hover {
  animation: btnIconAnimate 1s infinite linear;
}
@keyframes btnIconAnimate {
  50% {
    box-shadow: 0px 0px 0px rgb(121, 4, 255);
  }
}
.btnIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background: rgb(121, 4, 255);
  box-shadow: 0px 0px 5px rgb(121, 4, 255);
}
.contentForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styleForm {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.styleInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.styleInput input {
  height: 35px;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
  background: #ececec;
}
.styleInput input:focus {
  outline: none;
}
.styleInput textarea {
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  background: #ececec;
  resize: none;
}
.styleInput textarea:focus {
  outline: none;
}
.btnEnviar {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(121, 4, 255);
  color: white;
  background: rgb(121, 4, 255);
  cursor: pointer;
}
@media screen and (min-width: 240px) {
  .contentMain {
    flex-direction: column;
    overflow-y: scroll;
    gap: 50px;
  }
  .contentSocial {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
  }
  .contentSocial h1 {
    color: rgb(0, 0, 0);
  }
  .contentSocial p {
    line-height: 25px;
    color: rgb(0, 0, 0);
  }
  .socialMedia {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contentIcon {
    display: flex;
    gap: 20px;
  }

  .btnIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background: rgb(121, 4, 255);
    box-shadow: 0px 0px 5px rgb(121, 4, 255);
  }
  .contentForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styleForm {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .styleInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .styleInput input {
    height: 35px;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
    background: #ececec;
  }
  .styleInput input:focus {
    outline: none;
  }
  .styleInput textarea {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    background: #ececec;
    resize: none;
  }
  .styleInput textarea:focus {
    outline: none;
  }
  .btnEnviar {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(121, 4, 255);
    color: white;
    background: rgb(121, 4, 255);
    cursor: pointer;
  }
}
