@media screen and (min-width: 900px) {
  .main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "header1 header1 header2 header2"
      "header1 header1 header2 header2"
      "adside1 adside2 term1 term2"
      "adside1 adside2 term3 term4";
    gap: 20px;
    overflow: hidden;
  }
  .item {
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
  }
  .itemText {
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    position: absolute;
    bottom: -100%;
    background: rgb(255, 255, 255, 0.8);
    transition: bottom 0.5s ease-in-out;
    z-index: 1;
  }
  .item:hover .itemText {
    bottom: 0%;
  }
  .item:hover img {
    scale: 1.3;
  }
  .item img {
    width: 100%;
    height: 100%;
    transition: scale 1s linear;
  }
  .item1 {
    width: auto;
    grid-area: header1;
  }
  .item2 {
    width: auto;
    grid-area: header2;
  }
  .item3 {
    width: auto;
    grid-area: adside1;
  }
  .item4 {
    width: auto;
    grid-area: adside2;
  }
  .item5 {
    width: auto;
    grid-area: term1;
  }
  .item6 {
    width: auto;
    grid-area: term2;
  }
  .item7 {
    width: auto;
    grid-area: term3;
  }
  .item8 {
    width: auto;
    grid-area: term4;
  }
}
@media screen and (max-width: 899px) {
  .main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "header1 header1 header2 header2"
      "header1 header1 header2 header2"
      "adside1 adside2 term1 term2"
      "adside1 adside2 term3 term4";
    gap: 20px;
    padding-top: 20px;
    overflow: hidden;
  }
  .item {
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
  }
  .itemText {
    width: 100%;
    height: 60px;
    padding: 10px 15px;
    position: absolute;
    bottom: -100%;
    background: rgb(238, 238, 238);
    transition: bottom 0.5s ease-in-out;
    z-index: 1;
  }
  .item:hover .itemText {
    bottom: 0%;
  }
  .item:hover img {
    scale: 1.3;
  }
  .item img {
    width: 100%;
    height: 100%;
    transition: scale 1s linear;
  }
  .item1 {
    width: auto;
    grid-area: header1;
  }
  .item2 {
    width: auto;
    grid-area: header2;
  }
  .item3 {
    width: auto;
    grid-area: adside1;
  }
  .item4 {
    width: auto;
    grid-area: adside2;
  }
  .item5 {
    width: auto;
    grid-area: term1;
  }
  .item6 {
    width: auto;
    grid-area: term2;
  }
  .item7 {
    width: auto;
    grid-area: term3;
  }
  .item8 {
    width: auto;
    grid-area: term4;
  }
}
@media screen and (max-width: 540px) {
  .main {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .item {
    width: 100%;
    height: 300px;
  }
  .itemText {
    height: 80px;
    bottom: 0;
  }
  .item:hover .itemText {
    bottom: 0%;
  }
  .item:hover img {
    scale: 1;
  }
  .item img {
    width: 100%;
    height: 300px;
    transition: scale 1s linear;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7,
  .item8 {
    width: 100%;
  }
}
